@mixin laptop {
    @media screen and (max-width : 800px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
}
@mixin mobile {
    @media screen and (max-width : 600px) {
        @content;
    }
}


.Navbar--container{
    padding: 20px;
  
}
.Navbar{
    display: flex;
    
    gap: 20px;
    background-color: #0a192f;
    padding: 30px;
    width: 100%;

    @include mobile{
        height: fit-content;
        padding-bottom: 70px;
        padding-top: 5px;
       
    }
    flex-direction: row-reverse;
    box-shadow: 0px 3px 5px rgba(158, 153, 153, 0.1);

    .navbar--profile{
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 0;
        padding-left: 30px; 
        padding-bottom: 20px;
        display: none;
        .nav-bar{
            display: flex;
            gap: 20px;
             img{
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 50%;
            
        }

        h1{
            color:white ;
            font-size: 20px;
            font-weight: 300px;
        }
        }

        @include mobile{
            display: block;
        }
    }
    
   
        button{
            background-color:#0a192f;
            border: none;

            .link-button{
                border: 1px solid rgb(126, 54, 54);
                text-decoration: inherit;
                color:#64ffda;
                border-radius: 4px;
                padding: 8px;
                background-color:#0a192f;
                font-family: --font-mono;
                font-size: 15px;

                &:hover{
                    background-color:#3f4140 ;
                    font-size: 16px;
                }

                @include tablet{
                    display: none;
                }
                
            }

            .link{
                color: white;
                text-decoration: inherit;
                font-size: 13px;

                &:hover{
                    font-size: 14px;
                }
                @include tablet{
                    display: none;
                }

                &:hover{
                    color:#64ffda;
                }
                .number{
                    color:#64ffda;
                    font-size: 12px;
                }
            }
        }
        .collapsible{
            display: none;
            @include tablet{
                display: block;
            }
            position: absolute;
            z-index: 1;
            overflow: hidden;
          
            
        }
       
        .collapsible .content {
            padding: 6px;
            background-color:  #0a192f;

            ol{
                width: 150px;
                background-color:  #0a192f;
                
                li{
                   list-style: none;
                   padding: 20px;
                   color: white;

                   .link{
                    color: white;
                    text-decoration: white;

                    .number{
                        color:#64ffda;
                        font-size: 12px;
                    }
                    &:hover{
                        color:#64ffda;
                        
                    }
                   }
                }
            }
            
        }
        .collapsible .header {
            
            padding: 6px;
            cursor: pointer;
            
            button{
                float: right;
            }
        }
    
}


body{
    background-color: #0a192f;
}

.my--profile{
    display: flex;
    gap: 200px;
    @include tablet{
        flex-direction: column;
    }
    @include mobile{
        flex-direction: column;
    }

    .my--profile--content{
        padding: 50px;
        

        .p1{
            color:#64ffda ;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .p2{
            color: whitesmoke;
            font-size: clamp(30px, 8vw, 80px);
            font-weight: 600;
            line-height: 1;
        }
        .p3{
            color: #ccd6f6;
            font-family:'Courier New', Courier, monospace;

            .p4{
                font-size: 3em;
                line-height: 1.1;
                font-weight: 700;
                

                .p5{
                    color:#64ffda ;
                }
            }

        }

    

    .container {
        perspective: 800px;
        height: 200px;
        width: 200px;
        margin: 0 auto;
        margin-top: 200px;  
       
      }
      
      .sphere {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
       
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        transition: transform 40s ease-out;
      }
      
      .text {
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        transform-origin: 0% 100%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .text1 {
        transform: translate3d(-200px, 0, 200px);
      }
      
      .text2 {
        transform: translate3d(200px, 0, 200px);
      }
      
      .text3 {
        transform: translate3d(0, -200px, 200px);
      }
      
      .text4 {
        transform: translate3d(0, 200px, 200px);
      }
      
      .text5 {
        transform: translate3d(0, 0, 400px);
      }   
}
}

.projects--heading{
    display: flex;
    justify-content: center;

    .projects--paragraph{
        color: white;
        font-size: 24px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        &:hover{
            color: #64ffda;
            font-size: 26px; 
        }
    }
}
.projects--herosection{
   

    .projects{
    
    display: grid;
    grid-template: auto auto / repeat(3, 1fr);
    margin-left:110px;
    margin-right: 110px;
    position: absolute;
    left :100%;
    animation: appear-left 2s ease-out forwards;
    
    @include tablet(){
        grid-template-columns: repeat(2 ,1fr);
        margin-right: 90px;
        margin-left: 50px;
    }
    @include mobile{
        grid-template-columns: repeat(1 ,1fr);
        margin-right: none;
        margin-left: 70px;
        margin-right: 50px;
    }
  
    .projects--container{
    padding: 5px;
    width: 250px;
    height: 350px;
    border:2px solid ;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color:rgb(16, 33, 66);
    border-radius: 6px ;
    border: none;
    


    &:hover{
        height: 351px;
        width:251px ;
    }

    h1{
       text-align: center;
       font-size: 20px;
       
       &:hover{
        font-size: 22px;
       }

       a{
        text-decoration: inherit;
        color: rgb(206, 202, 202);
        
        &:hover{
            color: #64ffda;
        }
       }
    }
    
    .projects--git--icon{
        text-align: center;
     
    }
       
        
    .projects--description{
        color: #ccd6f6;
        padding: 6px;
    }
    .projects--tech{

        ol{
            display: inline-flex;
            gap: 5px;
            padding-left: 0;
            color: azure;
            align-items: center;
            li{
                list-style:none;
                text-align: center;
                color: #ccd6f6;
                font-family:'Courier New', Courier, monospace;
                padding-right: 0;
                font-size: small;
                align-items: center;
            }
        }
    }
}

}
@keyframes appear-left {
    100% {
      left: 0;
    }
  }
}

.resume--container{
    display: flex;
    justify-content: center;
    .resume--content{
        height: fit-content;
        width: 50%;
        background-color: #0a192f;
        margin-top: 50px;
        
        .resume--image{
            width: 100%;
            height: fit-content;
            object-fit: cover;

            @include mobile{
                width: 100%;
                height:fit-content;
                object-fit: cover;
            }
        }
    }
}

.homepage{
    display: flex;
    height: 100vh;
    width: 95%;
    @include mobile{
        width: 92%;
    }
    .container{
        display: flex;
        width: 100%;
        
       
        .sidebar{
            flex: 0.2;
            width: 100%;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
            @include tablet{
                display: none;
            } 

            .sideprofile--container{
                display: flex;
                justify-content: center;
                padding-top: 20px;
                flex-direction: column;

                .profile{
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .rotate{
                        animation: rotate 1s;

                        @keyframes rotate {
                            from {transform: rotate(0deg);}
                            to {transform: rotate(360deg);}
                        }
                    }

                   .profile-image{
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                    border-radius: 50%;
                    
                } 

                pre{
                    color: #64ffda;
                    font-family: karla;
                    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                }
            }

            .icons{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding-top: 60px;
                flex-direction: column;

                .icon:hover {
                    animation: shake 1s;
                  }
                  
                  @keyframes shake {
                    0% { transform: translate(1px, 1px) rotate(0deg); }
                    10% { transform: translate(-1px, -2px) rotate(-1deg); }
                    20% { transform: translate(-3px, 0px) rotate(1deg); }
                    30% { transform: translate(3px, 2px) rotate(0deg); }
                    40% { transform: translate(1px, -1px) rotate(1deg); }
                    50% { transform: translate(-1px, 2px) rotate(-1deg); }
                    60% { transform: translate(-3px, 1px) rotate(0deg); }
                    70% { transform: translate(3px, 1px) rotate(-1deg); }
                    80% { transform: translate(-1px, -1px) rotate(1deg); }
                    90% { transform: translate(1px, 2px) rotate(0deg); }
                    100% { transform: translate(1px, -2px) rotate(-1deg); }
                  }
                

            }
                
            }
   
        }
        .main--page{
            
            width: 100%; 
            height: 100%;
            position: relative;
            height: fit-content;

            .footer{
                display: flex;
                width: 100%;
                justify-content: center;
                position: absolute;
                bottom: 0;
                display: none;
                @include mobile{
                    display: block;
                } 

                footer{
                    
                .footer-content{
                    display: flex;
                    gap: 30px; 
                    justify-content: center;
                  
                }
            }
            }
            
        }
    
    }
}